div{

	border-style: dotted;
	height:200px;
	width: 200px;
	
}
.rojo{
	position: absolute;
	left:0px;
	top: 0px;
	background-color: red;
}


.amarillo{
	background-color: yellow;
	position: absolute;
    top:  0px;
    right:  0px;
    


}

.verde{
	background-color: green;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.gris{
	background-color: #737373;
	position: absolute;
	right:  0px;
	bottom: 0px;
}