div{

	border-style: dotted;
	height:200px;
	width: 200px;
	
}
.rojo{
	position: static;
	margin-left: 40px;
	background-color: red;
}


.amarillo{
	background-color: yellow;
	position: relative;
    left: 200px;
    top: 0px;
    


}

.verde{
	background-color: green;
	position: relative;
	left: 40px;
}
